<%: func LoginPage(msg []string, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>
<div class="col-12">
    <div class="card mb-4 ">
        <div class="card-body text-primary">
            <section>
                <form action="/login" method="post">
                    <h4>ورود به سایت</h4>
                    <hr />
                    <% if msg!=nil {%>
                    <div class="row">
                        <div class="col-12">
                            <% for _, m := range msg { %>
                            <p class="text-danger">
                                <%= m %>
                            </p>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input name="username"  class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>کلمه عبور</label>
                        <input name="password"  class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">ورود</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a href="/">فراموشی کلمه عبور</a>
                        </p>
                        <p>
                            <a href="/">ثبت نام</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<% } %>