<%: func AdminCreateCategoryPage(messages []string, w io.Writer) %>

<%~ "layer.html" %>

<%@ body { %>

<div class="col-12 col-md-8">
    <div class="card">
        <div class="card-header">
            <h2>گروه جدید</h2>
        </div>
        <div class="card-body">
            <form action="/admin/addcategory" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">عنوان فارسی</label>
                    <input name="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">عنوان انگلیسی</label>
                    <input name="enName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-success" />
                </div>
            </form>
        </div>
        <% if len(messages)!=0{ %>
        <div class="card-footer">
            <% for _,value:=range messages { %>
            <h6 class="text-danger"><%= value %></h6>
            <% } %>
        </div>
        <% } %>
        <div>
            <a href="/admin/categories" class="btn btn-primary">بازگشت به لیست</a>
        </div>
    </div>
</div>
<% } %>